---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import WhyUs from '../components/WhyUs.astro';
import Specialists from '../components/Specialists.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import CookieBanner from '../components/CookieBanner.astro';
import Testimonios from '../components/Testimonios.astro';
import Empresas from '../components/Empresas.astro';
import "../styles/global.css";
import Scroll from '../components/Scroll.astro';
---

<Layout title="VSilva - Servicios Tecnológicos Integrales">
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
    <WhyUs />
    <Specialists />
     <Testimonios />

    <Contact />
    <Scroll />
    <CookieBanner />
  </main>
  <Footer />
</Layout>

