---
import Innovation from "./Img/Innovation.png";
import Compromiso from "./Img/Compromiso.png";
import Excelencia from "./Img/Excelencia.png";
---


<section class="bg-gradient-to-r  py-16 px-6 md:px-12 lg:px-20 relative overflow-hidden">
  <div class="max-w-6xl mx-auto text-center px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold">Sobre Nosotros</h2>
    <p class="mt-6 text-base sm:text-lg lg:text-xl opacity-90">
      Con más de <span class="font-semibold">14 años de experiencia</span>, somos una empresa innovadora en el sector tecnológico, 
      impulsando la transformación digital con soluciones de vanguardia y un enfoque centrado en el cliente.
    </p>
  </div>
  
  
  <div class="mt-12 grid pb-10 md:grid-cols-3 gap-10 max-w-6xl mx-auto">
    <div class="bg-white text-gray-900 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 text-center">
      <img src={Innovation.src} alt="Innovación" class="w-40 h-32 mx-auto mb-4 rounded-b-full">
      <h3 class="text-2xl font-bold">Innovación</h3>
      <p class="mt-2 text-gray-600">Buscamos siempre nuevas formas de mejorar y evolucionar en el mundo tecnológico.</p>
    </div>
  
    <div class="bg-white text-gray-900 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 text-center">
      <img src={Compromiso.src} alt="Compromiso" class="w-40 h-32  mx-auto mb-4 rounded-b-full">
      <h3 class="text-2xl font-bold">Compromiso</h3>
      <p class="mt-2 text-gray-600">Nos dedicamos a brindar soluciones efectivas y personalizadas para cada cliente.</p>
    </div>
  
    <div class="bg-white text-gray-900 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 text-center">
      <img src={Excelencia.src} alt="Excelencia" class="w-40 h-32  mx-auto mb-4 rounded-b-full">
      <h3 class="text-2xl font-bold">Excelencia</h3>
      <p class="mt-2 text-gray-600">Garantizamos calidad y eficiencia en todos nuestros proyectos y servicios.</p>
    </div>
  </div>
  

  <!-- Ola ajustada al fondo -->
  <svg class="absolute bottom-0 left-0 w-full h-auto pointer-events-none text-white" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M0,120 C150,100 350,80 600,100 C850,120 1050,90 1200,100 L1200,120 L0,120 Z"></path>
  </svg>
</section>
