---
import Banner from "./Img/banner-ti.jpg";
---

 
<section class="relative w-full py-12 md:py-24 lg:py-32 xl:py-48 text-white">
  <!-- Imagen de fondo con efecto de tonalidad y oscurecimiento -->
  <div class="absolute inset-0 bg-black/50"></div>
  
  <div class="absolute inset-0 bg-cover bg-center brightness-50 " style={`background-image: url(${Banner.src});`}></div>

  <div class="container px-4 md:px-6 mx-auto relative z-10">
    <div class="flex flex-col items-center space-y-4 text-center">
      <div class="space-y-2">
        <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none">
          Soluciones Tecnológicas Integrales
        </h1>
        <p class="mx-auto max-w-[700px] text-gray-300 md:text-xl">
          Impulsamos tu negocio con servicios de redes, programación, soporte IT, consultoría, venta de equipo de computo e instalaciones.
        </p>
      </div>
      <div class="space-x-4">
        <a href="https://wa.me/4442609115" class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background bg-white text-black hover:bg-transparent hover:text-white hover:border h-10 py-2 px-4">
          Solicitar Consulta
        </a>
      </div>
    </div>
  </div>
</section>
