---
import "../styles/global.css";
 
const services = [
  { icon: 'fa-solid fa-network-wired fa-3x text-blue-400', title: 'Redes', description: 'Diseño e implementación de infraestructuras de red seguras y eficientes.' },
  { icon: 'fa-solid fa-code fa-3x text-green-400', title: 'Programación', description: 'Desarrollo de software a medida para optimizar tus procesos de negocio.' },
  { icon: 'fa-solid fa-headset fa-3x text-purple-400', title: 'Soporte IT', description: 'Asistencia técnica 24/7 para mantener tu infraestructura funcionando sin problemas.' },
  { icon: 'fa-solid fa-lightbulb fa-3x text-yellow-300', title: 'Consultoría', description: 'Asesoramiento experto para alinear la tecnología con tus objetivos empresariales.' },
  { icon: 'fa-solid fa-video fa-3x text-red-400', title: 'Instalaciones', description: 'Montaje y configuración de equipos y sistemas para tu empresa.' },
  { icon: 'fa-solid fa-chart-line fa-3x text-orange-400', title: 'CONTPAQi', description: 'Consultoría y soporte especializado en Contpaqi, incluyendo asesoramiento, optimización de procesos y venta del producto.' },
];
---

<section id="services" class="w-full py-10 md:py-24 lg:py-32 bg-white">
  <div class="container px-4 md:px-6 mx-auto">
    <h2 class="text-3xl font-bold tracking-tighter sm:text-5xl text-center mb-12">Nuestros Servicios</h2>
    <div class="grid gap-10 sm:grid-cols-2 md:grid-cols-3">
      {services.map(service => (
        <div class="flex flex-col items-center text-center bg-gray-50 p-6 rounded-xl drop-shadow-lg">
          <i class={service.icon}></i>
          <h3 class="text-xl font-bold my-2 mt-5">{service.title}</h3>
          <p class="text-gray-600">{service.description}</p>
        </div>
      ))}
      
    </div>
  </div>
  <div class="text-center mt-16 ">
    <a href="/Trabajos" class="bg-gray-800 text-white p-5 rounded-2xl hover:bg-white hover:text-gray-800 hover:border-2"> <strong> <i class="fa-solid fa-images mr-2"></i>Galería de trabajos </strong></a>
  </div>
</section>

