---
---

<section class="relative bg-gray-900 py-16 px-6 md:px-12 lg:px-20">
     
   
    <div class="max-w-6xl mx-auto text-center">
      <h2 class="text-4xl font-extrabold text-white">Testimonios</h2>
      <p class="mt-4 text-lg text-sky-300">Opiniones de Clientes: Comentarios de clientes satisfechos.</p>
    </div>
  
    <div class="mt-12 grid md:grid-cols-3 gap-10 max-w-8xl mx-auto">
      <div class="p-6 rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 bg-gray-800">
        <p class="text-white italic">“El equipo ha superado nuestras expectativas con su profesionalismo y atención al detalle.”</p>
        <h3 class="mt-4 font-bold text-white">- Juan Pérez, CEO de TechCorp</h3>
      </div>
      
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105">
        <p class="text-white italic">“Gracias a su solución innovadora, hemos optimizado nuestros procesos y aumentado la eficiencia.”</p>
        <h3 class="mt-4 font-bold text-white">- María González, Directora de Operaciones</h3>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105">
        <p class="text-white italic">“La implementación de sus servicios ha transformado nuestra operativa, permitiéndonos alcanzar niveles de productividad sin precedentes.”
        </p>
        <h3 class="mt-4 font-bold text-white">- Carlos Ramírez, Gerente de Producción</h3>
      </div>
    </div>
  
    <div class="max-w-6xl mx-auto text-center mt-16">
      <h2 class="text-4xl font-extrabold text-white">Estudios de Caso</h2>
      <p class="mt-4 text-lg text-sky-300">Ejemplos concretos de proyectos exitosos.</p>
    </div>
  
    <div class="mt-12 grid md:grid-cols-2 gap-10 max-w-6xl mx-auto">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105">
        <h3 class="text-2xl font-bold text-white">Optimización de Software</h3>
        <p class="mt-2 text-white">Redujimos el tiempo de procesamiento en un 40% para una empresa.</p>
      </div>
      
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105">
        <h3 class="text-2xl font-bold text-white">Soluciones de Red</h3>
        <p class="mt-2 text-white">Creamos e implementamos la rede tecnologica junto con camaras para una empresa de comida.</p>
      </div>
    </div>
  </section>
